section{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}
form{
    width: 300px;
}
.formulario{
    border: none;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
}
.formulario input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.formulario input[type="submit"]{
    width: 100%;
    margin-left: 10px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #4CAF50;
    color: white;
}